/*HEADER */ 
.container-header {
  padding: 0 15px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.link-logo {
  display: inline-block;
  margin: 0;
  width: 46px;
  height: 43px; 
}

.inspire, .discover{
  display: inline-block; 
  font-weight: 200;
  color: #fff;
  font-size: 18px;
}

.active{
  font-weight: 700;
  font-size: 24px;
}

.list-links-nav-inspirer.active {
  padding: 0 8px 4px;
  border-bottom: 4px solid #00A7FF; }

.list-links-nav-explorer.active {
  padding: 0 8px 4px;
  border-bottom: 4px solid #FFA751; }

/*LES LISTES D'ARTICLES*/ 
.inspire {
  background-image: url('../img/fond1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.explore {
  background-image: url('../img/fond2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.discover,
.explore {
  position: relative;
  width: 100%;
  padding: 15px;
  color: #fff; }
  .discover .container-all-articles h2,
  .explore .container-all-articles h2 {
    width: 345px;
    height: 60px;
    margin: 20px 0;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center; }

.info-goldn {
  width: 100%;
  margin: 20px 0;
  line-height: 1.5;
  padding: 0 13px;
  overflow: hidden;
  font-size: 16px !important; }

.choose-city {
  font-weight: 300; }

.wrap-articles {
  position: relative;
  width: 100%;
  height: 185px;
  padding: 10px 0 10px 12px;
  margin-bottom: 35px;
  background: #fff;
  color: #4a4a4a;
  border-radius: 6px; }
  .wrap-articles .article-detail {
    float: left; }
    .wrap-articles .article-detail h3 {
      display: block;
      max-width: 175px;
      margin: 0;
      font-size: 24px; 
      font-weight: 600;}
    .wrap-articles .article-detail .info-city {
      width: 215px;
      overflow: hidden;
      max-height: 90px;
      font-size: 16px !important;
      padding: 14px 9px 0 0;
      font-weight: 400; }

.container-address .street-address {
  position: absolute;
  bottom: 7px;
  font-size: 14px;
  font-weight: 300; }

.img-article-detail {
  position: absolute;
  right: 0;
  width: 110px;
  height: 100%;
  padding: 0;
  top: 0;
  overflow: hidden;
  border-radius: 0 6px 6px 0; }
  .img-article-detail img {
    position: absolute;
    left: -30px;
    height: 185px; }

.container-advice {
  width: 100%;
  color: #fff; }
  .container-advice .approve {
    position: absolute;
    bottom: -15px;
    right: 72px;
    width: 85px;
    height: 33px;
    border-radius: 3px;
    background-image: linear-gradient(124deg, #00a6ff, #00fffa);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25); }
    .container-advice .approve p {
      font-size: 12px;
      text-align: center;
      padding: 9px 0; }
  .container-advice .dislike {
    position: absolute;
    bottom: -15px;
    right: 22px;
    width: 43px;
    height: 33px;
    border-radius: 3px;
    background-image: linear-gradient(128deg, #ffa751, #ffe259);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25); }
    .container-advice .dislike img {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -40%);
      width: 26px; }

/*EXPLORER */
.wrapper-info-explorer {
  margin: 30px 0 15px; }

.info-goldn-explorer {
  display: inline;
  width: 100%;
  line-height: 1.5;
  font-size: 20px !important; }

.city-name {
  display: inline;
  width: 77px;
  height: 30px;
  padding-left: 5px;
  border-radius: 3px;
  color: #ffa751;
  border: none; }

.container-address-explorer .street-address-explorer {
  position: absolute;
  bottom: 7px;
  font-size: 14px;
  font-weight: 100; }