* {
    margin: 0 auto;
    padding: 0; 
}
  
  *,
  *:before,
  *:after {
    box-sizing: border-box; 
}
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    display: table;
}
  
  .clearfix:after {
    clear: both; 
}
    
body {
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px;
}

/* Splash & login screen */

.notConnected{
    position: relative;
    height: 100vh;
    background-image: url('../img/signIn.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.signIn{
    position: absolute;
    width: 80%;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    background: transparent;
    border: 0;
    color: #FFF;
    cursor: pointer;
}

.connected-border{
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 5px solid #fff;
    width: 30%;
    height: 10px;
}

/* AUTOCOMPLETE */

.results-autocomplete{
    position: absolute;
    top: 36px;
    left: 80px;
    list-style-type: none;
    padding: 0;
    width: 150px;
}
.results-autocomplete li{
    cursor: pointer;
    background: #FAFAFA;
    color: #333;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
.results-autocomplete li:last-child{
    border-bottom: none;
}
.wrapper-info-explorer{
    position: relative;
}

.explore .container-advice{
    display: none;
}