body {
    font-family: 'Raleway', sans-serif !important;
<<<<<<< HEAD
    /* color-: */
background-image: linear-gradient(-135deg, #00A6FF 0%, #00FFFA 100%);
}
=======
    font-size: 16px;
    background-image: url("../../images/fond1.jpg");
    background-size: cover;
}
>>>>>>> f9734586c10b44d820828b7043f6a7452aed5d8a
