.container-header {
    padding: 0 15px;
    padding-top: 15px;
    padding-bottom: 20px;
    //background: red;
    display: flex;
    align-items: center;
}

.link-logo {
    display: inline-block;
    margin: 0;

    .logo-header {
        width: 46px;
        height: 43px;
    }
}

.nav-header{
    display: inline-block;

    .container-links-nav {
        list-style: none;
    }
}

.list-links-nav {
    display: inline-block;
    border-bottom: 1px solid white;
    padding-bottom: 1px;
    margin: 0 25px;
}

.inspirer, .explorer {
    font-weight: 200;
    color: #fff;
    font-size: 18px;
    text-decoration: none;

    &.active {
        font-weight: 700;
        font-size: 24px;
    }
}

.list-links-nav-inspirer {
    &.active {
        padding: 0 8px 4px;
        border-bottom: 4px solid #00A7FF;
    }
}

.list-links-nav-explorer {
    &.active {
        padding: 0 8px 4px;
        border-bottom: 4px solid #FFA751;
    }
}
