* {
  margin: 0 auto;
  padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  font-family: 'Raleway', sans-serif !important;
  font-size: 16px;
  background-image: url("../../images/fond1.jpg");
  background-size: cover; }

main {
  height: 100vh; }

.container-header {
  background: red;
  display: flex;
  align-items: center; }

.link-logo {
  display: inline-block; }
  .link-logo .logo-header {
    width: 46px;
    height: 43px; }

.nav-header {
  display: inline-block; }
  .nav-header .container-links-nav {
    list-style: none; }
    .nav-header .container-links-nav .list-links-nav {
      display: inline-block; }

.discover {
  width: 100%;
  color: #fff; }
  .discover .container-all-articles {
    padding: 0 15px;
    width: 100%;
    position: relative;
    z-index: 1; }
    .discover .container-all-articles h2 {
      width: 345px;
      height: 60px;
      font-family: Raleway;
      font-size: 25px;
      font-weight: 600;
      line-height: 1.2;
      text-align: center; }

.info-goldn {
  width: 100%;
  margin: 20px 0;
  padding: 0 13px;
  font-size: 16px !important; }

.choose-city {
  font-weight: 300; }

.wrap-articles {
  position: relative;
  width: 100%;
  height: 185px;
  padding: 10px 0 10px 12px;
  margin-bottom: 25px;
  background: #fff;
  color: #4a4a4a;
  border-radius: 6px; }
  .wrap-articles .article-detail {
    float: left; }
    .wrap-articles .article-detail h3 {
      display: block;
      font-size: 24px; }
    .wrap-articles .article-detail .info-city {
      width: 215px;
      font-size: 16px !important;
      padding: 14px 9px 0 0;
      font-weight: 200; }

.container-address {
  position: relative; }
  .container-address .street-address {
    position: absolute;
    bottom: -30px;
    font-size: 14px;
    font-weight: 100; }

.img-article-detail {
  position: absolute;
  right: 0;
  width: 110px;
  height: 100%;
  padding: 0;
  top: 0;
  overflow: hidden;
  border-radius: 0 6px 6px 0; }
  .img-article-detail img {
    position: absolute;
    left: -30px;
    width: 250%;
    height: 185px; }

.container-advice {
  width: 100%;
  color: #fff; }
  .container-advice .approve {
    position: absolute;
    bottom: -15px;
    right: 72px;
    width: 85px;
    height: 33px;
    border-radius: 3px;
    background-image: linear-gradient(124deg, #00a6ff, #00fffa);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25); }
    .container-advice .approve p {
      font-size: 12px;
      text-align: center;
      padding: 9px 0; }
  .container-advice .dislike {
    position: absolute;
    bottom: -15px;
    right: 22px;
    width: 43px;
    height: 33px;
    border-radius: 3px;
    background-image: linear-gradient(128deg, #ffa751, #ffe259);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25); }
    .container-advice .dislike img {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -40%);
      width: 26px; }

.container-add-article {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2; }

.onglet-add {
  height: 90px;
  position: relative; }
  .onglet-add .image-add {
    width: 100%;
    height: 91px; }
  .onglet-add .text-add {
    font-size: 25px;
    color: #00A7FF;
    text-align: center;
    font-weight: 400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.add-article {
  width: 100%;
  padding: 0 15px;
  padding-top: 1%;
  background: #fff;
  position: relative; }

.label-form {
  width: 100%;
  display: block;
  color: #00A7FF;
  font-size: 22px;
  font-weight: lighter; }

.input-form, .form-content {
  width: 100%;
  border: 1px solid #E0E0E0;
  border-radius: 17px;
  color: #9B9B9B;
  font-size: 22px;
  padding: 0px 2px 4px 17px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: lighter;
  outline: none; }

.title-input-add {
  width: 80%; }

.button-image, .button-add-article {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 22px;
  color: #00A7FF;
  border: 1px solid #fff !important;
  background: #fff; }

.button-add-article {
  padding: 20px 0 10px;
  font-weight: bold; }

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  width: 200px;
  height: 40px;
  margin: 0 auto;
  display: block;
  font-weight: 600;
  font-size: 22px;
  color: #00A7FF; }

/*# sourceMappingURL=style.css.map */
